/* apply a natural box layout model to all elements, but allowing components to change */
/*  http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
  padding: 0px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#container {
  margin: 0px auto;
}

.navigation {
  background-color: #00A1D3;
  height: 43px;
}

.navigation > ul > li > a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation > ul {
  list-style: none;
  margin: 0px;
  padding: 0px 0px 0px 10px;
}

.navigation > ul > li {
  display: inline-block;
  height: 43px;
  line-height: 43px;
  padding: 0px 10px;
}

#banner_hero {
  width: 100%;
}

#banner_logo {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}

body {
  font-size: 14px;
  font-family: Arial, sans-serif;
  margin: 0px;
}

.row {
  float: left;
  width: 100%;
}

@media (min-width: 769px) {
  #container {
    max-width: 980px;
  }
  #banner_hero {
    background: url('../images/banner_large.jpg') top center no-repeat;
    height: 275px;
  }
  #banner_logo {
    background-image: url('../images/logo_large.png');
    width: 210px;
    height: 86px;
    margin-top: 28px;
  }
}

.navigation {
  background-color: #00A1D3;
}


/*
• body copy & headers: #333333
• nav links: #ffffff
• blue color: #00A1D3
• red warning: #ff0000
• body: 14px, Arial
• nav: 13px (font-size)
• main header: <h1> 28px (font-size)
• profile sub headers: <h3> 16px (font-size)
• profile text & text links: inherited from body
• form labels: 11px (font-size)
• footer: 12px (font-size)
*/