/* apply a natural box layout model to all elements, but allowing components to change */
/*  http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
  padding: 0px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: #00A1D3;
}

#container {
  margin: 0px auto;
}

.blue_bar {
  background-color: #00A1D3;
  line-height: 43px;
  height: 43px;
  color: white;
}

.navigation > ul > li > a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation > ul {
  list-style: none;
  margin: 0px;
  padding: 0px 0px 0px 10px;
}

.navigation > ul > li {
  display: inline-block;
  padding: 0px 10px;
}

#banner_hero {
  width: 100%;
}

#banner_logo {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}

body {
  font-size: 14px;
  font-family: Arial, sans-serif;
  margin: 0px;
}

.content {
  padding: 20px;
}

.two_thirds {
  width: 66%;
}

.one_third {
  width: 33%;
}

.float_left {
  float: left;
}

.half {
  width: 50%;
}

.full {
  width: 100%;
}

.row {
  float: left;
  width: 100%;
}

#container {
  max-width: 980px;
}

#banner_hero {
  background: url('../images/banner_large.jpg') top center no-repeat;
  height: 275px;
}

#banner_logo {
  background-image: url('../images/logo_large.png');
  width: 210px;
  height: 86px;
  margin-top: 28px;
}

@media (max-width: 769px) {
  #container {
    max-width: 768px;
  }
  #banner_hero {
    background: url('../images/banner_medium.jpg') top center no-repeat;
    height: 200px;
  }
  #banner_logo {
    background-image: url('../images/logo_medium.png');
    width: 157px;
    height: 64px;
    margin-top: 18px;
  }
}

@media (max-width: 480px) {
  #container {
    max-width: 480px;
  }
  #banner_hero {
    background: url('../images/banner_small.jpg') top center no-repeat;
    height: 85px;
  }
  #banner_logo {
    background-image: url('../images/logo_small.png');
    width: 145px;
    height: 50px;
    margin-top: 12px;
  }
}

.navigation {
  background-color: #00A1D3;
}

.more_arrow {
  background: url("../images/cta_arrow.png") right 2px no-repeat;
  padding-right: 13px;
}

footer {
  font-style: italic;
  padding-left: 10px;
  color: #ccc;
}

fieldset {
  border: none;
}

.form-label {

}

label.form-required > .form-label:after {
  content: "*";
}

input[type="text"] {
  outline-color: red;
  outline-width: 2px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
}

button {
  background-color: #00A1D3;
  color: white;
  border-radius: 3px;
  height: 30px;
  width: 150px;
}


/*
• body copy & headers: #333333
• nav links: #ffffff
• blue color: #00A1D3
• red warning: #ff0000
• body: 14px, Arial
• nav: 13px (font-size)
• main header: <h1> 28px (font-size)
• profile sub headers: <h3> 16px (font-size)
• profile text & text links: inherited from body
• form labels: 11px (font-size)
• footer: 12px (font-size)
*/