/* apply a natural box layout model to all elements, but allowing components to change */
/*  http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
  padding: 0px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: #333333;
}

a:hover {
  color: #00A1D3
}

h1, h4, body {
  color: #333333;
}

h1 {
  font-size: 21px;
}

h3 {
  font-size: 16px;
}

#container {
  margin: 0px auto;
  float: left;
  position: relative;
}

.blue_bar {
  background-color: #00A1D3;
  line-height: 43px;
  height: 43px;
  color: white;
}

.navigation {
  font-size: 13px;
}

.navigation > ul > li > a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation > ul {
  list-style: none;
  margin: 0px;
  padding: 0px 0px 0px 10px;
}

.navigation > ul > li {
  display: inline-block;
  padding: 0px 10px;
}

#banner_hero {
  width: 100%;
}

#banner_logo {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}

body {
  font-size: 14px;
  font-family: Arial, sans-serif;
  margin: 0px;
}

.content {
  padding: 20px;
}

#welcome {
  width: 66%;
}

#form {
  width: 33%;
}

.float_left {
  float: left;
}

.welcome_profile {
  width: 50%;
}

.full {
  width: 100%;
}

.row {
  float: left;
  width: 100%;
}

#container {
  max-width: 980px;
}

#banner_hero {
  background: url('../images/banner_large.jpg') top center no-repeat;
  height: 275px;
}

#banner_logo {
  background-image: url('../images/logo_large.png');
  width: 210px;
  height: 86px;
  margin-top: 28px;
}

.navigation {
  background-color: #00A1D3;
}

.more_arrow {
  background: url("../images/cta_arrow.png") right 2px no-repeat;
  padding-right: 13px;
  text-decoration: none;
}

footer {
  font-size: 12px;
  font-style: italic;
  padding-left: 10px;
  color: #ccc;
}

fieldset {
  border: none;
}

.form-label {
  font-size: 11px;
}

label.form-required > .form-label:after {
  content: "*";
}

input[type="text"] {
  outline-color: #ff0000;
  outline-width: 2px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
}

#form_submit {
  background-color: #00A1D3;
  color: white;
  border-radius: 3px;
  height: 30px;
  width: 150px;
  border: none;
}



@media (max-width: 769px) {
  #container {
    max-width: 768px;
  }

  #banner_hero {
    background: url('../images/banner_medium.jpg') top center no-repeat;
    height: 200px;
  }

  #banner_logo {
    background-image: url('../images/logo_medium.png');
    width: 157px;
    height: 64px;
    margin-top: 18px;
  }
}

@media (max-width: 480px) {
  #container {
    max-width: 480px;
  }

  #banner_hero {
    background: url('../images/banner_small.jpg') top center no-repeat;
    height: 85px;
  }

  #banner_logo {
    background-image: url('../images/logo_small.png');
    width: 145px;
    height: 50px;
    margin-top: 12px;
  }

  footer.blue_bar {
    background-color: white;
    color: #ccc;
  }

  .welcome_profile {
    width: 100%;
    border-top: 1px solid #ccc;
    padding: 20px;
  }

  #welcome { width: 100%; }
  #form {
    width: 100%;
    border-top: 1px solid #ccc;
  }

  #form_submit { width: 100%; }

  /* Drop the nav */
  .content {
    padding-bottom: 250px;
  }

  .navigation {
    height: 225px;
    position: absolute;
    bottom: 43px;
  }

  .navigation > ul {
    margin: 20px;
  }

  .navigation > ul > li {
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    background: url("../images/mobile_link_arrow.png") right 13px no-repeat;
  }


}


/*
• body copy & headers: #333333
• nav links: #ffffff
• blue color: #00A1D3
• red warning: #ff0000
• body: 14px, Arial
• nav: 13px (font-size)
• main header: <h1> 28px (font-size)
• profile sub headers: <h3> 16px (font-size)
• profile text & text links: inherited from body
• form labels: 11px (font-size)
• footer: 12px (font-size)
*/